.image{
    height: 55px;
    width: 55px;
    background-color: rgb(194, 194, 194);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-shrink: 0;
    margin-top: 8px;
}